/*Importação*/
@import url(fonts/fonts.css);
/*Importação*/
/* HTML5 Boilerplate  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
 display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection {
 background: #A5AFCC;
 color: #fff;
 text-shadow: none;
}
::selection {
	background: #A5AFCC;
	color: #fff;
	text-shadow: none;
}
a {
	color: #00e;
	text-decoration: none;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #06e;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
small {
	font-size: 85%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
 *margin-left: -7px;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
 *vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
 *overflow: visible;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
 *width: 13px;
 *height: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:invalid, textarea:invalid {
 background-color: #f0dddd;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}
@media only screen and (min-width: 35em) {
}
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
 *line-height: 0;
}
.ir br {
	display: none;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
@media print {
* {
	background: transparent !important;
	color: black !important;
	box-shadow: none !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: "(" attr(href) ")";
}
abbr[title]:after {
	content: "(" attr(title) ")";
}
.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}
/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}
.container_24 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23 {
	position: relative;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.container_24 .grid_1 {
	width: 30px;
}
.container_24 .grid_2 {
	width: 70px;
}
.container_24 .grid_3 {
	width: 110px;
}
.container_24 .grid_4 {
	width: 150px;
}
.container_24 .grid_5 {
	width: 190px;
}
.container_24 .grid_6 {
	width: 230px;
}
.container_24 .grid_7 {
	width: 270px;
}
.container_24 .grid_8 {
	width: 310px;
}
.container_24 .grid_9 {
	width: 350px;
}
.container_24 .grid_10 {
	width: 390px;
}
.container_24 .grid_11 {
	width: 430px;
}
.container_24 .grid_12 {
	width: 470px;
}
.container_24 .grid_13 {
	width: 510px;
}
.container_24 .grid_14 {
	width: 550px;
}
.container_24 .grid_15 {
	width: 590px;
}
.container_24 .grid_16 {
	width: 630px;
}
.container_24 .grid_17 {
	width: 670px;
}
.container_24 .grid_18 {
	width: 710px;
}
.container_24 .grid_19 {
	width: 750px;
}
.container_24 .grid_20 {
	width: 790px;
}
.container_24 .grid_21 {
	width: 830px;
}
.container_24 .grid_22 {
	width: 870px;
}
.container_24 .grid_23 {
	width: 910px;
}
.container_24 .grid_24 {
	width: 950px;
}
.container_24 .prefix_1 {
	padding-left: 40px;
}
.container_24 .prefix_2 {
	padding-left: 80px;
}
.container_24 .prefix_3 {
	padding-left: 120px;
}
.container_24 .prefix_4 {
	padding-left: 160px;
}
.container_24 .prefix_5 {
	padding-left: 200px;
}
.container_24 .prefix_6 {
	padding-left: 240px;
}
.container_24 .prefix_7 {
	padding-left: 280px;
}
.container_24 .prefix_8 {
	padding-left: 320px;
}
.container_24 .prefix_9 {
	padding-left: 360px;
}
.container_24 .prefix_10 {
	padding-left: 400px;
}
.container_24 .prefix_11 {
	padding-left: 440px;
}
.container_24 .prefix_12 {
	padding-left: 480px;
}
.container_24 .prefix_13 {
	padding-left: 520px;
}
.container_24 .prefix_14 {
	padding-left: 560px;
}
.container_24 .prefix_15 {
	padding-left: 600px;
}
.container_24 .prefix_16 {
	padding-left: 640px;
}
.container_24 .prefix_17 {
	padding-left: 680px;
}
.container_24 .prefix_18 {
	padding-left: 720px;
}
.container_24 .prefix_19 {
	padding-left: 760px;
}
.container_24 .prefix_20 {
	padding-left: 800px;
}
.container_24 .prefix_21 {
	padding-left: 840px;
}
.container_24 .prefix_22 {
	padding-left: 880px;
}
.container_24 .prefix_23 {
	padding-left: 920px;
}
.container_24 .suffix_1 {
	padding-right: 40px;
}
.container_24 .suffix_2 {
	padding-right: 80px;
}
.container_24 .suffix_3 {
	padding-right: 120px;
}
.container_24 .suffix_4 {
	padding-right: 160px;
}
.container_24 .suffix_5 {
	padding-right: 200px;
}
.container_24 .suffix_6 {
	padding-right: 240px;
}
.container_24 .suffix_7 {
	padding-right: 280px;
}
.container_24 .suffix_8 {
	padding-right: 320px;
}
.container_24 .suffix_9 {
	padding-right: 360px;
}
.container_24 .suffix_10 {
	padding-right: 400px;
}
.container_24 .suffix_11 {
	padding-right: 440px;
}
.container_24 .suffix_12 {
	padding-right: 480px;
}
.container_24 .suffix_13 {
	padding-right: 520px;
}
.container_24 .suffix_14 {
	padding-right: 560px;
}
.container_24 .suffix_15 {
	padding-right: 600px;
}
.container_24 .suffix_16 {
	padding-right: 640px;
}
.container_24 .suffix_17 {
	padding-right: 680px;
}
.container_24 .suffix_18 {
	padding-right: 720px;
}
.container_24 .suffix_19 {
	padding-right: 760px;
}
.container_24 .suffix_20 {
	padding-right: 800px;
}
.container_24 .suffix_21 {
	padding-right: 840px;
}
.container_24 .suffix_22 {
	padding-right: 880px;
}
.container_24 .suffix_23 {
	padding-right: 920px;
}
.container_24 .push_1 {
	left: 40px;
}
.container_24 .push_2 {
	left: 80px;
}
.container_24 .push_3 {
	left: 120px;
}
.container_24 .push_4 {
	left: 160px;
}
.container_24 .push_5 {
	left: 200px;
}
.container_24 .push_6 {
	left: 240px;
}
.container_24 .push_7 {
	left: 280px;
}
.container_24 .push_8 {
	left: 320px;
}
.container_24 .push_9 {
	left: 360px;
}
.container_24 .push_10 {
	left: 400px;
}
.container_24 .push_11 {
	left: 440px;
}
.container_24 .push_12 {
	left: 480px;
}
.container_24 .push_13 {
	left: 520px;
}
.container_24 .push_14 {
	left: 560px;
}
.container_24 .push_15 {
	left: 600px;
}
.container_24 .push_16 {
	left: 640px;
}
.container_24 .push_17 {
	left: 680px;
}
.container_24 .push_18 {
	left: 720px;
}
.container_24 .push_19 {
	left: 760px;
}
.container_24 .push_20 {
	left: 800px;
}
.container_24 .push_21 {
	left: 840px;
}
.container_24 .push_22 {
	left: 880px;
}
.container_24 .push_23 {
	left: 920px;
}
.container_24 .pull_1 {
	left: -40px;
}
.container_24 .pull_2 {
	left: -80px;
}
.container_24 .pull_3 {
	left: -120px;
}
.container_24 .pull_4 {
	left: -160px;
}
.container_24 .pull_5 {
	left: -200px;
}
.container_24 .pull_6 {
	left: -240px;
}
.container_24 .pull_7 {
	left: -280px;
}
.container_24 .pull_8 {
	left: -320px;
}
.container_24 .pull_9 {
	left: -360px;
}
.container_24 .pull_10 {
	left: -400px;
}
.container_24 .pull_11 {
	left: -440px;
}
.container_24 .pull_12 {
	left: -480px;
}
.container_24 .pull_13 {
	left: -520px;
}
.container_24 .pull_14 {
	left: -560px;
}
.container_24 .pull_15 {
	left: -600px;
}
.container_24 .pull_16 {
	left: -640px;
}
.container_24 .pull_17 {
	left: -680px;
}
.container_24 .pull_18 {
	left: -720px;
}
.container_24 .pull_19 {
	left: -760px;
}
.container_24 .pull_20 {
	left: -800px;
}
.container_24 .pull_21 {
	left: -840px;
}
.container_24 .pull_22 {
	left: -880px;
}
.container_24 .pull_23 {
	left: -920px;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after, .container_24:after {
	clear: both;
}
.clearfix, .container_24 {
	zoom: 1;
}
html, body, #wrap {
	height: 100%;
}
body > #wrap {
	height: auto;
	min-height: 100%;
}
.container_24.CORPOPAGINA {
	/*overflow:auto;*/

	padding-bottom: 117px;
	min-height: 100%;
}
/* deve ter a mesma altura do rodapé */
#footer {
	position: relative;
	margin-top: -117px;
	/* valor negativo da altura do rodapé */

	height: 117px;
	clear: both;
}
/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}
body, html {
	font-family: 'AllerRegular';
}
body div#wrap, html div#wrap {
	background-color: #25424c;
	position: relative;
	width: 100%;
	z-index: 1;
}
body div#wrap div#BGRed, html div#wrap div#BGRed {
	background-color: #ce2430;
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: -1;
}
.FundoBranco {
	background-image: url("../img/fundobranco.png");
}
.FundoAzulB {
	background-image: url("../img/fundoazul.png");
}
#Header {
	background: #222471;
	/* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiMyMjI0NzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDI4Y2JmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #222471 32%, #028cbf 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #222471), color-stop(100%, #028cbf));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #222471 32%, #028cbf 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #222471 32%, #028cbf 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, #222471 32%, #028cbf 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, #222471 32%, #028cbf 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#222471', endColorstr='#028cbf', GradientType=0);
	/* IE6-8 */

	height: 190px;
}
#Header > .FundoBranco {
	height: 15px;
	position: absolute;
	top: 0px;
	width: 100%;
}
#Header #BGReader {
	background-image: url("../img/header_fundo.png");
	height: 190px;
	background-repeat: no-repeat;
	background-position: top center;
}
#Header #Logo {
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	padding: 5px 0px 10px 10px;
	margin-top: 15px;
}
#Header #Bandeiras {
	padding: 3px;
	width: 50px;
	margin-top: 15px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
#Header #Bandeiras a {
	background-image: url("../img/bandeiras.png");
	display: inline-block;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
#Header #Bandeiras a.EN {
	background-position: 50% -40px;
}
#Header #Slogan {
	background-image: url("../img/slogan.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 25px;
	margin-left: 16px;
	text-align: center;
}
#Header #Slogan p {
	margin: 0px;
	padding: 0px;
	color: #FFF;
}
#Header #Endereco {
	background-image: url("../img/fundo_endereco.png");
	height: 54px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -37px;
	margin-left: 16px;
	text-align: center;
}
#Header #Endereco address {
	color: #FFF;
	padding: 4px 5px;
	font-style: normal;
}
#Header #Menu {
	background-color: #25424c;
	border-top: 3px solid #ce2430;
	position: absolute;
	right: 0px;
	bottom: -36px;
}
#Header #Menu ul {
	background-color: #F2F2F2;
	height: 32px;
	margin-left: 30px;
}
#Header #Menu ul li, #Header #Menu ul a {
	color: #ce2430;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
}
#Header #Menu ul li {
	display: inline-block;
	padding: 5px 5px;
}
#Header #Menu ul li:hover, #Header #Menu ul li.ativo {
	background-color: #afbbbe;
}
h1, h2, h3, h4, h5, h6 {
	color: #ce2430;
}
a, a:visited {
	color: #25424c !important;
	text-transform: none;
}
a:hover {
	color: #ce2430 !important;
}
.BarraAzul {
	background-color: #25424c;
	height: 32px;
}
.DivMain {
	border-top: 3px #ce2430 solid;
	background-color: #FFF;
	height: auto;
	min-height: 650px;
	margin-right: 0px;
}
#SERVICOS hgroup {
	padding-left: 20px;
}
#SERVICOS article {
	padding: 10px !important;
}
#SERVICOS article.grid_7 ul {
	height: 120px;
}
#SERVICOS article ul {
	border: thin dashed #ce2430;
	color: #282A44;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	padding: 10px !important;
	font-family: 'AllerLightRegular';
}
#SERVICOS article.ListFinal {
	margin: 0px 20px;
	width: 570px;
}
#SERVICOS article.ListFinal ul li {
	/*display: inline-block;
	width: 49%;*/
}
aside.grid_7 {
	background-color: #F2F2F2;
	min-height: 500px;
	margin-left: 0px;
	width: 280px !important;
}
aside.grid_7 h3 {
	font-size: 16px;
	font-family: 'AllerLightRegular';
}
aside.grid_7 nav {
	margin-top: 50px;
	padding: 0px 18px;
}
aside.grid_7 nav ul {
	list-style: disc;
	list-style-position: inside;
	font-family: 'AllerLightRegular';
}
aside.grid_7 nav ul li, aside.grid_7 nav ul a {
	cursor: pointer;
	font-size: 14px;
}
aside.grid_7 nav ul li:hover, aside.grid_7 nav ul a:hover {
	color: #ce2430;
}
aside.grid_7 nav ul li {
	padding-bottom: 5px;
}
#Slider {
	margin-top: 15px;
	margin-left: 20px;
}
#Slider, #Slider figure {
	height: 214px;
	width: 628px;
	position: relative;
}
#Slider figure figcaption {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NDI0YyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1NDI0YyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(37, 66, 76, 0.8) 0%, rgba(37, 66, 76, 0.8) 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(37, 66, 76, 0.8)), color-stop(100%, rgba(37, 66, 76, 0.8)));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(37, 66, 76, 0.8) 0%, rgba(37, 66, 76, 0.8) 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(37, 66, 76, 0.8) 0%, rgba(37, 66, 76, 0.8) 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, rgba(37, 66, 76, 0.8) 0%, rgba(37, 66, 76, 0.8) 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, rgba(37, 66, 76, 0.8) 0%, rgba(37, 66, 76, 0.8) 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cc25424c', endColorstr='#cc25424c', GradientType=0);
	/* IE6-8 */

	width: 50%;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #FFF;
	font-size: 25px;
	font-family: 'AllerLightRegular';
}
#Slider figure figcaption p {
	padding: 0px 10px;
}
#Slider figure figcaption small {
	display: block;
}
#Slider figure figcaption a {
	background: #0169be;
	/* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNjliZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzA4NTY5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iIzBmNGU4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzBmNGE3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iIzE2M2I1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjNiNTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0169be 0%, #085694 16%, #0f4e83 23%, #0f4a76 26%, #163b56 39%, #163b56 100%);
	/* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0169be), color-stop(16%, #085694), color-stop(23%, #0f4e83), color-stop(26%, #0f4a76), color-stop(39%, #163b56), color-stop(100%, #163b56));
	/* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #0169be 0%, #085694 16%, #0f4e83 23%, #0f4a76 26%, #163b56 39%, #163b56 100%);
	/* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #0169be 0%, #085694 16%, #0f4e83 23%, #0f4a76 26%, #163b56 39%, #163b56 100%);
	/* Opera 11.10+ */

	background: -ms-linear-gradient(top, #0169be 0%, #085694 16%, #0f4e83 23%, #0f4a76 26%, #163b56 39%, #163b56 100%);
	/* IE10+ */

	background: linear-gradient(to bottom, #0169be 0%, #085694 16%, #0f4e83 23%, #0f4a76 26%, #163b56 39%, #163b56 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0169be', endColorstr='#163b56', GradientType=0);
	/* IE6-8 */

	color: #FFF !important;
	display: inline-block;
	padding: 5px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	font-size: 15px;
	margin: 5px;
	cursor: pointer;
}
#Slider + nav {
	text-align: center;
}
#Slider + nav a {
	background-color: #25424c;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	display: inline-block;
	text-indent: -999em;
	height: 7px;
	width: 7px;
	overflow: hidden;
	cursor: pointer;
	margin-right: 5px;
}
#Slider + nav a.activeSlide {
	background-color: #ce2430;
}
article {
	padding-left: 20px;
}
article h2 {
	text-transform: uppercase;
	color: #ce2430 !important;
	font-size: 16px;
	font-family: 'AllerLightRegular';
}
article p {
	font-size: 14px;
	font-family: 'AllerLightRegular';
	color: #25424c;
}
table#Clocks {
	width: 100%;
}
table#Clocks tr {
	text-align: center;
	color: #ce2430;
	text-transform: uppercase;
}
table#Clocks tr th {
	width: 25%;
	font-family: 'AllerLightRegular';
}
table#Clocks tr td {
	text-align: center;
}
table#Clocks tr td canvars {
	height: 100px;
	width: 100px;
	display: inline-block;
}
.Branco2 {
	background-color: #F2F2F2;
}
#footer {
	z-index: 999;
	font-size: 10px;
	color: #4D4D4D;
	font-family: 'AllerLightRegular';
}
#footer div.grid_17.Branco2, #footer div.grid_7, #footer div.grid_17.Azul {
	height: 57px;
}
#footer div.grid_17.Branco2 {
	border-bottom: 3px solid #ce2430;
	margin-right: 0px;
}
#footer div.grid_17.Branco2 p {
	margin: 0px;
	padding: 0px;
	padding-left: 50px;
	line-height: 17px;
	padding-top: 10px !important;
	background-image: url("../img/f_pointer.png");
	background-repeat: no-repeat;
	background-position: 15px 8px;
}
#footer div.grid_17.Branco2 + div.grid_7 {
	border-top: 3px solid #ce2430;
	margin-left: 0px;
	width: 280px!important;
	background-image: url("../img/r_footer.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
#footer div.grid_17.Azul {
	background-color: #25424c;
	margin-right: 0px;
}
#footer div.grid_17.Azul p {
	margin: 0px;
	color: #FFF;
	padding-top: 25px!important;
	padding-left: 50px;
}
#footer div.grid_17.Azul + div.grid_7 {
	background-color: #F2F2F2;
	margin-left: 0px;
	width: 280px!important;
	background-image: url("../img/conecte.png");
	background-position: right;
	background-repeat: no-repeat;
}
#footer div.grid_17.Azul + div.grid_7 a {
	height: 100%;
	width: 100%;
}
#EMPRESA figure {
	margin-top: 20px;
	margin-bottom: 25px;
}
#CONTATO hgroup, #CONTATO form {
	padding-left: 20px;
}
#CONTATO hgroup input[type=button], #CONTATO form input[type=button], #CONTATO hgroup input[type=submit], #CONTATO form input[type=submit], #CONTATO hgroup input[type=reset], #CONTATO form input[type=reset], #CONTATO hgroup button, #CONTATO form button {
	margin-left: 203px;
}
form input[type=text], form input[type=email], form input[type=tel], form input[type=password], form textarea, form select {
	display: block;
	padding: 5px;
	width: 330px;
	background-color: #F2F2F2;
	color: #25424c;
	border: none;
	margin-bottom: 12px;
}
form textarea {
	height: 200px;
}
form input[type=button], form input[type=submit], form input[type=reset], form button {
	display: inline-block;
	padding: 5px;
	color: #FFF;
	background-color: #ce2430;
	border: none;
}
input::-webkit-input-placeholder, input:-moz-placeholder {
 color: #25424C !important;
}
/************************************************************************
*************************************************************************
@Name :       	Selectyze - jQuery Plugin CSS
@Revison :    	1.0
@Date : 		19/12/2011
@Author:     	Mickael SURREL - ALPIXEL Agency - (www.myjqueryplugins.com - www.alpixel.fr) 
@License :		 Open Source - MIT License : http://www.opensource.org/licenses/mit-license.php
 
**************************************************************************
*************************************************************************/
/***************************/
/** Common to every theme **/
/***************************/
.DivSelectyze {
	position: relative;
	width: 417px;
	margin-bottom: 15px;
}
.DivSelectyze .selectyzeValue {
	position: relative;
	z-index: 10;
	display: block;
	text-decoration: none;
}
.DivSelectyze ul {
	list-style: none;
}
.DivSelectyze .UlSelectize {
	position: absolute;
	z-index: 9999;
	display: none;
}
.DivSelectyze li a {
	display: block;
	text-decoration: none;
}
.optgroupTitle {
	display: block;
}
/****************/
/** GREY HEME **/
/*****************/
.riovisas .selectyzeValue {
	width: 330px;
	padding: 5px;
	background: url('../img/selecte.png') no-repeat right;
	background-color: #F2F2F2;
}
.riovisas .UlSelectize {
	top: 35px;
	left: 0px;
	width: 339px;
	background-color: #e5e5e5;
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.riovisas li a {
	padding: 8px;
}
.riovisas li a:hover {
	color: #fff;
	background-color: #cccccc;
}
.riovisas .optgroupTitle {
	margin-top: 15px;
	font-size: 20px;
	padding-left: 10px;
	background-color: #858585;
	color: #fff;
}
.DivMain > p{
	margin-top:40px;
}
.DivMain > p strong{
	border: 5px solid rgb(0, 92, 18);
	padding: 10px;
	margin: 0px 0px 0px 45px;
}
.DivMain > p b{
	border: 5px solid rgb(245, 241, 149);
	padding: 10px;
	margin: 0px 0px 0px 45px;
}
a.selectyzeValue {
	color:#A9A9B2 !important;
	*color:#214964 !important;
	_color:#214964 !important;
	color:#214964 \0/IE8+9 /* IE8 + 9 + IE10pp4 */!important;
	:root #element { color:#214964 \0/IE9 !important; }  /* IE9 + IE10pp4 */
}