@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu:300,400,700);
@import url('style.css');
/*-------| css Exactt |-------*/
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	background-image: url(../img/bg.jpg);
}
/*-------| Header |-------*/
header .logo {
	padding-top: 25px;
}
header .head_dir {
	/*background-image: url(../img/chat.png);*/
	background-position: 408px top;
	background-repeat: no-repeat;
	height: 125px;
	/*padding-top: 15px;*/
}
header .head_dir .chat {
	height: 106px;
	width: 160px;
	margin: -15px 0px 0px 66px;
}
header .head_dir .telefone {
	font-size: 20px;
	display: inline-block;
	margin: 0px 0px 0px 60px;
}
header #menu {
	background: #A9D4D4;
	height: 52px;
	margin-top: 16px;
	width: 100%;
	clear: both;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B5a8a3;
	border-bottom-color: #B5a8a3;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(223, 223, 215, 1);
	box-shadow: inset 0px 0px 0px 2px rgba(223, 223, 215, 1);
}
header #menu ul {
}
header #menu ul li {
	margin-top: 2px;
	display: inline-block;
	padding: 0px 37px;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
header #menu ul li:hover, header #menu ul li a:hover, .current_page_item {
	color: #FFF;
	background-color: #38A4AF;
}
header #menu ul li a {
	font-size: 25px;
	text-align: center;
	font-weight: lighter;
	line-height: 48px;
	color: #464747;
	text-decoration: none;
	display: block;
	-webkit-transition: all 200ms ease 0s;
	-moz-transition: all 200ms ease 0s;
	-ms-transition: all 200ms ease 0s;
	-o-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}
header #submenu ul {
	float: right;
	padding: 10px 0px 0px 0px;
}
header #submenu ul li {
	display: inline-block;
	padding: 0px 19px 0px 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #38A4AF;
	height: 10px;
	line-height: 4px;
}
header #submenu ul li:last-child {
	border-right: none;
}
header #submenu ul li a {
	font-size: 16px;
	font-weight: lighter;
	color: #38A4AF;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #38A4AF;
}
header #submenu ul li a:hover {
	border: 0px none #FFF;
}
/*-------| Slider |-------*/
#Slider {
	height: 441px;
	overflow: hidden;
	z-index: 100;
	position: relative;
	margin-top: 20px;
}
#Slider img {
	z-index: 101;
	position: absolute;
}
#Slider > .items {
	width: 20000em;
	position: absolute;
}
#Slider > .items > .item {
	float: left;
	width: 936px;
}
#Slider #items .item a .label {
	z-index: 99999;
	position: absolute;
}
#Slider #items .item a .label .title {
	color: #FFF;
	top: 88px;
	left: 8px;
}
#Slider #items .item a .label hgroup h1 {
	font-weight: bold;
	font-size: 41px;
	margin: 0px;
	padding: 0px
}
#Slider #items .item a .label hgroup h2 {
	font-weight: lighter;
	font-size: 48px;
	margin: -22px 0px 0px 0px;
	padding: 0px
}
#Slider #items .item a .label .content {
	top: 195px;
}
#Slider #items .item a .label .content h1 {
	font-size: 23.34px;
	color: #7f2f19;
	font-weight: lighter;
}
#Slider #items .item a .label .content p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	padding-right: 53px;
	margin-top: -15px;
	color: #7d7e81;
}
#Slider .navi {
	z-index: 999;
	position: relative;
	top: 91%;
	left: 260px;
}
#Slider .navi > a {
	display: inline-block;
	float: left;
	width: 7px;
	height: 7px;
	padding: 0px 7px 0px 0px;
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
 *line-height: 0;
	background-image: url(../img/nav.png);
	background-position: center top;
}
#Slider .navi > a.activeSlide {
	background-position: 7px center;
}
#Slider2 {
	height: 221px;
	overflow: hidden;
	z-index: 100;
	position: relative;
	margin-top: 35px;
}
#Slider2 img {
	z-index: 101;
	position: absolute;
}
#Slider2 > .items {
	width: 20000em;
	position: absolute;
}
#Slider2 > .items > .item {
	float: left;
	width: 942px;
}
#Slider2 #items2 .item a .label {
	z-index: 99999;
	position: absolute;
}
#Slider2 #items2 .item a .label .title {
	color: #FFF;
	top: 40px;
	left: -47px;
}
#Slider2 #items2 .item a .label hgroup h1 {
	font-weight: bold;
	font-size: 32px;
	margin: 0px;
	padding: 0px
}
#Slider2 #items2 .item a .label hgroup h2 {
	font-weight: lighter;
	font-size: 38px;
	margin: -22px 0px 0px 0px;
	padding: 0px
}
#Slider2 #items2 .item a .label .content {
	top: 195px;
}
#Slider2 #items2 .item a .label .content h1 {
	font-size: 23.34px;
	color: #7f2f19;
	font-weight: lighter;
}
#Slider2 #items2 .item a .label .content p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	padding-right: 53px;
	margin-top: -15px;
	color: #7d7e81;
}
#Slider2 .navi {
	z-index: 999;
	position: relative;
	top: 96%;
	left: 94px;
}
#Slider2 .navi > a {
	display: inline-block;
	float: left;
	width: 7px;
	height: 7px;
	padding: 0px 7px 0px 0px;
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
 *line-height: 0;
	background-image: url(../img/nav.png);
	background-position: center top;
}
#Slider2 .navi > a.activeSlide {
	background-position: 7px center;
}
/*-------| Home |-------*/
.home .coluna01 {
}
.home .coluna01 hgroup h1 {
	color: #7f2f19;
	font-size: 30.36px;
}
hr {
	width: 90%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
.home .coluna01 hgroup h2 {
	color: #38A4AF;
	font-size: 18px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	padding-right: 57px;
}
.home .coluna01 p {
	font-size: 13px;
	color: #7d7e81;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	padding-right: 57px;
	line-height: 25px;
}
.home .coluna01 a {
	font-size: 30.36px;
	font-weight: lighter;
	color: #38a4af;
	-webkit-transition: all 1s ease-in-out 0s;
	-moz-transition: all 1s ease-in-out 0s;
	-ms-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #38A4AF;
	text-decoration: none;
}
.home .coluna01 a:hover {
	color: #1A4B51;
	border: 0px none #FFF;
}
.home .coluna02 {
	/*margin-left: -25px;*/
}
.home .coluna02 .destaques {
	height: 170px;
	margin-bottom: 10px;
}
.home .coluna02 .destaques .title {
	font-size: 23.14px;
	color: #FFF;
	float: left;
	padding: 68px 36px;
}
.home .coluna02 .destaques .title div {
	margin: 4px 0px 0px -5px;
}
.home .coluna02 .destaques .title.reservas {
	background-image: url(../img/destaques.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.home .coluna02 .destaques .title.roteiros {
	background-image: url(../img/destaques.png);
	background-repeat: no-repeat;
	background-position: -211px top;
	padding: 56px 38px;
}
.home .coluna02 .destaques .title.destaque {
	background-image: url(../img/destaques.png);
	background-repeat: no-repeat;
	background-position: -422px top;
}
.home .coluna02 .destaques .title h2 {
	font-size: 30.16px;
	display: block;
	font-weight: lighter;
	margin: -17px 0px 0px 0px;
	padding: 0px;
}
.home .coluna02 .destaques .content {
	color: #7d7e81;
	font-size: 12px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	margin-left: 180px;
	margin-right: 13px;
	padding: 26px 0px 0px 0px;
	background-image: url(../img/aba-destaque.png);
	background-repeat: no-repeat;
	background-position: 0px 38px;
}
.home .coluna02 .destaques .content p {
	padding: 10px 25px 10px 20px;
	margin-right: 20px;
	margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	line-height: 18px;
	height: 79px;
	position: relative;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #BEDBD7;
	border-right-color: #BEDBD7;
	border-bottom-color: #BEDBD7;
}
.home .coluna02 .destaques .content a {
	color: #38A4AF;
	font-size: 12px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	display: block;
	position: absolute;
	bottom: 13px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #38A4AF;
}
.home .coluna02 .destaques .content a:hover {
	border: 0px none #FFF;
}
/*-------| Footer |-------*/
footer {
	padding: 30px 0px;
	background: #A9D4D4;
	width: 100%;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #B5a8a3;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(223, 223, 215, 1);
	box-shadow: inset 0px 0px 0px 2px rgba(223, 223, 215, 1);
}
footer .copyright {
	font-size: 12px;
	font-weight: lighter;
	color: #008da8;
}
footer .redesocial {
	font-size: 14px;
	font-weight: normal;
	color: #005d72;
}
footer .redesocial figure {
	margin-top: 6px;
	margin-left: 2px;
}
footer .redesocial figure a {
	padding-right: 15px;
}
footer .telbottom {
	font-size: 14px;
	font-weight: normal;
	color: #005d72;
}
footer .telbottom strong {
	font-size: 24px;
	display: inline-block;
}
footer .conecte {
	margin-top: 21px;
}
footer .rodape {
	padding-top: 30px;
	clear: both;
}
footer .rodape .afiliados {
	background-color: #a3cf62;
	padding: 30px 0px;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 141, 168, 1);
	box-shadow: inset 0px 0px 5px 1px rgba(0, 141, 168, 1);
}
/*-------| Corporativo |-------*/

.corporativo {
	padding: 90px 0px 25px 0px;
}
.corporativo .coluna01 {
}
.corporativo .coluna01 .servicos {
}
.corporativo .servicos .mark {
	float: left;
	background-image: url(../img/destaquesmall.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 9px 18px;
	color: #FFF;
	font-size: 25px;
	font-weight: bold;
}
.corporativo .servicos .mark.serv_02 {
	background-position: -82px top;
}
.corporativo .servicos .mark.serv_03 {
	background-position: -164px top;
}
.corporativo .servicos .mark.serv_04 {
	background-position: -246px top;
}
.corporativo .servicos .mark.serv_05 {
	background-position: -328px top;
}
.corporativo .servicos .mark.serv_06 {
	background-position: -410px top;
}
.corporativo .servicos .mark.serv_07 {
	background-position: -492px top;
}
.corporativo .servicos .mark.serv_08 {
	background-position: -574px top;
}
.corporativo .servicos .mark.serv_08 {
	background-position: -656px top;
}
.corporativo .servicos .content {
	margin: 0px 0px 0px 60px;
}
.corporativo .servicos .content h1.title {
	font-size: 30.36px;
	font-weight: lighter;
	color: #38a4af;
	padding: 0px;
	margin: 0px;
}
.corporativo .servicos .content p {
	color: #7d7e81;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}
.corporativo .coluna02 .boxpergunta {
	border: 1px solid #B5A8A3;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	background-color: #70CBD2;
	background-color: rgba(112, 203, 210, 0.5);
	margin-left: 61px;
	margin-bottom: 25px;
	padding: 15px;
}
.corporativo .coluna02 .boxpergunta .title {
	font-size: 27px;
	font-weight: bold;
	color: #7F2F19;
	padding: 0px;
	margin: 0px;
}
.corporativo .coluna02 .boxpergunta .content {
	padding: 3px 0px;
}
.corporativo .coluna02 .boxpergunta .content a {
	font-size: 22.65px;
	font-weight: lighter;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}
.corporativo .coluna02 .boxpergunta .content a:hover {
	border: 0px none #FFF;
}
.corporativo .coluna02 .boxpergunta .content span {
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-left: 24px;
}
/*-------| Blog |-------*/
.blog {
	padding: 30px 0px 0px 0px;
}
.blog .conteudo {
}
.conteudo > h1 {
	font-weight: lighter;
	padding: 0px;
	color: #7f2f19;
	font-size: 30.36px;
	margin: 0px 12px 8px 12px;
	float: left;
	display: inline-block;
}
.blog .conteudo .posts {
}
.blog .conteudo .posts .data {
	float: left;
	background-image: url(../img/destaquemiddle.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 108px;
	width: 106px;
	position: relative;
	margin: 0px 15px;
}
.blog .conteudo .posts .data.flor02 {
	background-position: -133px top;
}
.blog .conteudo .posts .data.flor03 {
	background-position: -266px top;
}
.blog .conteudo .posts .data.flor04 {
	background-position: -399px top;
}
.blog .conteudo .posts .data.flor05 {
	background-position: -532px top;
}
.blog .conteudo .posts .data.flor06 {
	background-position: -665px top;
}
.blog .conteudo .posts .data.flor07 {
	background-position: -798px top;
}
.blog .conteudo .posts .data.flor08 {
	background-position: -931px top;
}
.blog .conteudo .posts .data.flor09 {
	background-position: -1064px top;
}
.blog .conteudo .posts .data b {
	position: absolute;
	top: 22px;
	left: 36px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.blog .conteudo .posts .data span {
	position: absolute;
	top: 55px;
	left: 35px;
	font-size: 20px;
	font-weight: lighter;
	color: #FFF;
}
.conteudo .posts .content {
	margin-left: 136px;
	padding: 11px 0px 35px 0px;
}
.conteudo .posts .content h1, .conteudo .posts .content h1 a, .conteudo .dicas h1, .reservas h1 {
	font-size: 30.36px;
	color: #38A4AF;
	font-weight: lighter;
	padding: 0px;
	margin: 0px 0px -6px 0px;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.conteudo .posts .content h1 a:hover {
	color: #2B7B84;
}
.conteudo .posts .content h4, .conteudo .posts .content h4 a {
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	color: #7f2f19;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
.conteudo .posts .content h4 a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7f2f19;
}
.conteudo .posts .content p {
	color: #7d7e81;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	margin-right: 75px;
}
.conteudo .posts .content > a {
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	color: #7f2f19;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7f2f19;
	float: left;
	margin-right: 8px;
}
.conteudo .posts .content > a:hover {
	border: 0px none #000;
}
.conteudo .posts .content .visto {
	background-image: url(../img/vistomini.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 17px;
	width: 20px;
	display: block;
	border: 0px none #000;
}
.conteudo .navega {
	float: right;
	margin-right: 74px;
	padding-bottom: 45px;
	clear: both;
}
.conteudo .navega a {
	margin-left: 10px;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	color: #7f2f19;
	text-decoration: none;
	-webkit-transition: all 350ms ease-in-out 0s;
	-moz-transition: all 350ms ease-in-out 0s;
	-ms-transition: all 350ms ease-in-out 0s;
	-o-transition: all 350ms ease-in-out 0s;
	transition: all 350ms ease-in-out 0s;
}
.conteudo .navega a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b6887c;
	color: #b6887c;
}
.sidebar {
}
.sidebar .secao {
	margin-top: 10px;
}
.sidebar .secao h3 {
	font-size: 28px;
	font-style: italic;
	font-weight: lighter;
	color: #7f2f19;
	padding: 0px;
	margin: 0px 0px -12px 2px;
}
.sidebar .secao ul {
	margin: 0px 0px 30px 0px;
}
.sidebar .secao ul li a {
	font-size: 16px;
	font-weight: lighter;
	color: #000;
	text-decoration: none;
}
.sidebar .secao ul li a:hover, .blog .sidebar .secao ul li a:active {
	font-weight: bold;
}
.conteudo .posts a figure {
	float: left;
}
.eventos .conteudo .posts .content, .viagens .conteudo .posts .content {
	margin-left: 178px;
}
.eventos .conteudo .posts .content p, .viagens .conteudo .posts .content p {
	margin-right: 225px;
}
.viagens, .eventos, .luademel, .pac_luademel {
	padding: 50px 0px 0px 0px;
}
.viagens .sidebar > a {
	text-decoration: none;
}
.viagens .sidebar .boxpergunta {
	border: 1px solid #B5A8A3;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	background-color: #70CBD2;
	background-color: rgba(112, 203, 210, 0.5);
	padding: 15px;
	margin: 50px 0px;
}
.viagens .sidebar a .boxpergunta h2 {
	font-size: 24px;
	font-weight: bold;
	color: #7f2f19;
	margin: 0px;
	padding: 0px;
}
.viagens .sidebar a .boxpergunta p {
	font-family: 'Droid Sans', sans-serif;
	color: #3a3b40;
	font-weight: normal;
	font-size: 13px;
}
.viagens .sidebar a .boxpergunta u {
	font-weight: lighter;
	font-size: 16px;
	color: #000;
}
.viagens .sidebar a:hover .boxpergunta u {
	font-weight: bold;
}
.luademel .conteudo {
	position: relative;
	margin-bottom: 60px;
}
.luademel .conteudo .boxpergunta {
	border: 1px solid #B5A8A3;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	background-color: #70CBD2;
	background-color: rgba(112, 203, 210, 0.5);
	padding: 5px;
	font-size: 14.68px;
	font-weight: bold;
	color: #7f2f19;
	text-decoration: none;
	position: absolute;
	left: 400px;
	top: 5px;
}
.luademel .conteudo .posts2 {
}
.luademel .conteudo .posts2 a {
	float: left;
	margin: 0px 85px 0px 5px;
	text-decoration: none;
}
.luademel .conteudo .posts2 a figure {
}
.luademel .conteudo .posts2 a h1 {
	font-size: 23.34px;
	color: #38A4AF;
	font-weight: normal;
	margin: 0px 0px 0px 6px;
}
.luademel .conteudo .navega {
	margin-top: 40px;
}
.pac_luademel .conteudo .posts .content {
	margin-left: 6px;
	margin-right: 30px;
}
.pac_luademel .conteudo .posts .content p {
	line-height: 25px;
}
.pac_luademel .conteudo .posts .content a.boxpergunta {
	border: 1px solid #B5A8A3;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	background-color: #70CBD2;
	background-color: rgba(112, 203, 210, 0.5);
	padding: 10px;
	font-size: 17.19px;
	font-weight: bold;
	color: #7f2f19;
	text-decoration: none;
	margin: 15px 0px 55px 0px;
}
.conteudo .dicas {
	margin-top: 20px;
	margin-bottom: 80px;
}
.conteudo .dicas ul li {
	list-style-image: url(../img/vistomini.png);
	color: #7d7e81;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	margin-bottom: 15px;
}
.reservas form {
	width: 740px;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 10px solid rgba(0, 0, 0, 0.5);
	background: #FFF;
}
.reservas .coluna {
	float: left;
	padding: 20px 35px 0px 35px;
	width: 300px;
}
.reservas h1 {
	padding: 20px 0px 5px 35px;
}
.reservas .col02 {
	padding: 1px 0px 0px 35px;
	margin-top: 12px;
}
.reservas .col02 legend {
	color: #707070;
	font-size: 25px;
	font-weight: bolder;
}
.reservas .coluna input[type=text] {
	height: 30px;
	width: 265px;
	padding-left: 15px;
	background: rgb(232,232,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 11%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,232,232,1)), color-stop(11%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 11%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 11%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 11%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 11%, rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff', GradientType=0 ); /* IE6-8 */
}
.reservas .coluna #dat-in, .reservas fieldset #dat-fim {
	height: 30px;
	width: 115px;
}
.reservas .coluna #dat-in {
	margin-right: 13px;
}
.reservas .coluna textarea {
	height: 185px;
	width: 265px;
	padding-left: 15px;
	padding-top: 15px;
	background: rgb(232,232,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmRmZGZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,232,232,1)), color-stop(2%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 2%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 2%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 2%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(232,232,232,1) 0%, rgba(253,253,253,1) 2%, rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff', GradientType=0 ); /* IE6-8 */
}
.reservas .coluna input[type=text], .reservas .coluna textarea {
	margin-bottom: 10px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #999999;
	color: #4b4b4b;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}
.reservas .col02 ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.reservas .col02 ul li {
	margin: 10px 0px 15px 0px;
	color: #4b4b4b;
	font-size: 16px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}
.reservas input[type=submit] {
	border: 1px solid #B5A8A3;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.8);
	background-color: #70CBD2;
	background-color: rgba(112, 203, 210, 0.5);
	padding: 10px;
	font-size: 14.68px;
	font-weight: bold;
	color: #7f2f19;
	margin: 100px 0px 45px -122px;
	;
}
