.grad-banner {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc2Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(31%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.76)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c2000000', GradientType=0);
  /* IE6-8 */

}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: black;
}
#header .logo {
  height: 107px;
  width: 252px;
  display: block;
  background: url('../img/logo.jpg') no-repeat center top;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(205, 205, 205, 0.8);
  box-shadow: 0px 2px 15px 0px rgba(205, 205, 205, 0.8);
}
#header #menu ul {
  padding: 0;
  margin: 0;
}
#header #menu ul li {
  display: inline-block;
  margin: 0 25px;
}
#header #menu ul li:hover a {
  color: #0076ff;
}
#header #menu ul li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: black;
  text-decoration: none;
  line-height: 107px;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#header #menu ul li a:hover {
  color: #0076ff;
}
.painel {
  margin: 0 auto;
  padding: 40px 0;
  background: url('../img/bg-banner.png') no-repeat center;
}
#banner a {
  text-decoration: none;
}
#banner figure {
  display: inline-block;
  margin: 10px 0px 0px -3px;
  position: relative;
  height: 460px;
}
#banner figure figcaption {
  position: absolute;
  bottom: 0px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc2Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(31%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.76)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 31%, rgba(0, 0, 0, 0.76) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c2000000', GradientType=0);
  /* IE6-8 */

  width: 100%;
  min-height: 104px;
}
#banner figure figcaption span {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  display: block;
  padding: 10px 5px 0px ;
  text-align: center;
  letter-spacing: 4px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  line-height: 35px;
}
#home {
  margin-bottom: 60px;
}
#home .solucoes {
  background: url('../img/icons.png') no-repeat 0px 0px;
  height: 76px;
}
#home .solucoes:after {
  content: '';
  border-right: 1px solid #999999;
  position: absolute;
  right: 2px;
  height: 85%;
  width: 1px;
  top: 0px;
}
#home .solucoes_content {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #5f685f;
  text-transform: uppercase;
}
#home figure {
  position: relative;
  margin-top: 100px;
}
#home figure figcaption {
  position: absolute;
  top: -53px;
  background: url('../img/icons.png') no-repeat -576px -113px;
  height: 186px;
  width: 100%;
  -webkit-box-shadow: -4px 0px 10px 0px rgba(199, 199, 199, 0.8);
  box-shadow: -4px 0px 10px 0px rgba(199, 199, 199, 0.8);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#home figure figcaption:hover h2 {
  margin-top: 20px;
}
#home figure figcaption:hover {
  top: -55px;
  height: 188px;
}
#home figure figcaption h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #0076ff;
  margin: 25px 0px 0px 10px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#home figure figcaption span {
  margin: 0px 0px 0px 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
#home figure img {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(199, 199, 199, 0.8);
  box-shadow: 4px 4px 10px 0px rgba(199, 199, 199, 0.8);
}
#footer {
  background-color: rgba(0, 0, 0, 0.8);
}
#footer .social span {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #949494;
  display: inline-block;
}
#footer .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  position: relative;
  top: 8px;
}
#footer .social ul li {
  display: inline-block;
  margin-left: 5px;
}
#footer .social ul li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/icons.png') no-repeat;
}
#footer .social ul li a.youtube {
  background-position: -786px -403px;
}
#footer .social ul li a.facebook {
  background-position: -822px -403px;
}
#footer .social ul li a.twitter {
  background-position: -856px -403px;
}
#footer .social ul li a.vimeo {
  background-position: -892px -403px;
}
#footer .social ul li a.skype {
  background-position: -926px -403px;
}
#footer .social ul li a.orkut {
  background-position: -962px -403px;
}
#footer .logoconecte {
  display: block;
  height: 20px;
  background: url('../img/logoconecte.png') no-repeat 40px 0px;
  margin-top: 11px;
}
.vendas {
  margin-top: 50px;
}
.vendas .cortinas-de-led {
  display: inline-block;
  width: 425px;
  height: 58px;
  background: url('../img/icons.png') no-repeat 0px -138px;
  margin-bottom: 60px;
}
.vendas .textura {
  display: inline-block;
  width: 639px;
  height: 63px;
  background: url('../img/icons.png') no-repeat -576px 0px;
  margin-left: 50px;
  margin-bottom: 60px;
}
.vendas p {
  margin: 5px 0px;
}
.vendas .articles {
  margin: 60px 0;
}
.vendas .articles h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #424242;
  text-transform: uppercase;
}
.vendas .articles .box {
  outline: 1px solid #cfcfcf;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(199, 199, 199, 0.9);
  box-shadow: 1px 1px 15px 0px rgba(199, 199, 199, 0.9);
  height: 110px;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.vendas .articles h2 {
  margin: 15px 0 0 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #0076ff;
}
.vendas .articles h4 {
  margin: -7px 0 0 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.vendas .articles .content {
  display: none;
}
.vendas .articles .linha {
  width: 100%;
  height: 7px;
  background-color: #0076ff;
  margin-top: 25px;
}
.vendas .articles .content-hide {
  height: 0px;
  opacity: 0;
  max-height: 100%;
  position: relative;
  background-color: white;
  z-index: 999;
  outline: 1px solid #cfcfcf;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(199, 199, 199, 0.9);
  box-shadow: 1px 1px 15px 0px rgba(199, 199, 199, 0.9);
  padding: 25px 25px;
  width: 1041px;
  margin-bottom: 25px;
}
.vendas .articles .content-hide .hide {
  height: 25px;
  width: 347px;
  position: absolute;
  top: -7px;
  left: 0px;
  background-color: white;
}
.vendas .articles .content-hide span {
  margin: 0 15px 0 0;
  line-height: 24px;
}
